# Proceso de ETL

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_column', 200)

In [2]:
data = pd.read_csv('PI MLOps\movies_dataset.csv')

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\367247871.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('PI MLOps\movies_dataset.csv')

In [3]:
data.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

# Desanidar las columnas

#### `belongs_to_collection`

In [4]:
eval(data['belongs_to_collection'][0])

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

en cada registro de la columna `belongs_to_collection`, se reemplazara, en caso de no ser nulo, el valor del dict con el nombre

In [5]:
for i in range(len(data)):
    try:
        if isinstance(eval(data['belongs_to_collection'][i]), dict):
            data['belongs_to_collection'][i] = eval(data['belongs_to_collection'][i])['name']
    except:
        pass

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\1158766777.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['belongs_to_collection'][i] = eval(data['belongs_to_collection'][i])['name']

#### `genres`

creare una columnas en el dataframe donde se almacenaran los generos en una tupla.

In [6]:
pd.json_normalize(eval(data['genres'][5]))

   id      name
0  28    Action
1  80     Crime
2  18     Drama
3  53  Thriller

In [7]:
## se desanida la columna genres en 2 columnas
data['Genres'] = np.nan




for i in range(len(data)):
    try:
        dft = pd.json_normalize(eval(data['genres'][i]))
        gen = []
        for j in range(len(dft)):
            gen.append(dft['name'][j])
        data['Genres'][i] = gen
    except: continue

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\333247096.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Genres'][i] = gen

In [8]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Genres
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]"
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]"
2,False,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]"
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[Comedy, Drama, Romance]"
4,False,Father of the Bride Collection,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[Comedy]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[Drama, Family]"
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,[Drama]
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[Action, Drama, Thriller]"
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,[]
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[]

#### `production_companies`

se procedera similar como se hizo en la columna de genres

In [9]:
#desanido la columna 'production_companies'

data['pro_comp1'] = np.nan
data['pro_comp2'] = np.nan

for i in range(len(data)):
    try:
        dft = pd.json_normalize(eval(data['production_companies'][i]))

        for j in range(len(dft)):
            data[f'pro_comp{j+1}'][i] = dft['name'][j]
    except:
        continue

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\2575157520.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'pro_comp{j+1}'][i] = dft['name'][j]
C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\2575157520.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[f'pro_comp{j+1}'][i] = dft['name'][j]

#### 'production_countries'

se crea una columna nueva y se almacena el pais por cada pelicula

In [10]:
data['production_countries'][489]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [11]:
# Pais
data['country'] = np.nan

for i in range(len(data)):
    try:
        dft = pd.json_normalize(eval(data['production_countries'][i]))

        for j in range(len(dft)):
            data['country'][i] = dft['name'][j]
    except:
        continue

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\1831089263.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['country'][i] = dft['name'][j]

#### `spoken_languages`

In [12]:
data['language'] = np.nan

for i in range(len(data)):
    try:
        dft = pd.json_normalize(eval(data['spoken_languages'][i]))

        for j in range(len(dft)):
            data['language'][i] = dft['name'][j]
    except:
        continue

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\3938242313.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['language'][i] = dft['name'][j]

In [13]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,Genres,pro_comp1,pro_comp2,country,language
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]",Pixar Animation Studios,NaN,United States of America,English
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]",TriStar Pictures,Teitler Film,United States of America,Français
2,False,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]",Warner Bros.,Lancaster Gate,United States of America,English
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[Comedy, Drama, Romance]",Twentieth Century Fox Film Corporation,NaN,United States of America,English
4,False,Father of the Bride Collection,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[Comedy],Sandollar Productions,Touchstone Pictures,United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,[],"[{'iso_3166_1': 'IR', 'name': 'Iran'}]",NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[Drama, Family]",NaN,NaN,Iran,فارسی
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,[Drama],Sine Olivia,NaN,Philippines,
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[Action, Drama, Thriller]",American World Pictures,NaN,United States of America,English
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,[],Yermoliev,NaN,Russia,NaN
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,[],NaN,NaN,United Kingdom,English

In [14]:
'''
se eliminan las columnas que desanide
'''

columnas = ['genres', 'production_companies',
       'production_countries','spoken_languages']

data = data.drop(columns=columnas)

In [15]:
data

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,Genres,pro_comp1,pro_comp2,country,language
0,False,Toy Story Collection,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]",Pixar Animation Studios,NaN,United States of America,English
1,False,NaN,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]",TriStar Pictures,Teitler Film,United States of America,Français
2,False,Grumpy Old Men Collection,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[Romance, Comedy]",Warner Bros.,Lancaster Gate,United States of America,English
3,False,NaN,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[Comedy, Drama, Romance]",Twentieth Century Fox Film Corporation,NaN,United States of America,English
4,False,Father of the Bride Collection,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,[Comedy],Sandollar Productions,Touchstone Pictures,United States of America,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,NaN,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[Drama, Family]",NaN,NaN,Iran,فارسی
45462,False,NaN,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,False,9.0,3.0,[Drama],Sine Olivia,NaN,Philippines,
45463,False,NaN,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,"[Action, Drama, Thriller]",American World Pictures,NaN,United States of America,English
45464,False,NaN,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,False,0.0,0.0,[],Yermoliev,NaN,Russia,NaN
45465,False,NaN,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,2017-06-09,0.0,75.0,Released,NaN,Queerama,False,0.0,0.0,[],NaN,NaN,United Kingdom,English

# Los valores nulos de los campos `revenue`, `budget` deben ser rellenados por el número `0`.

In [16]:
data['revenue'] = data['revenue'].fillna(0)
data['budget'] = data['budget'].fillna(0)

In [17]:
print(data['revenue'].isna().sum(),'  ', data['budget'].isna().sum())

0    0

## Los valores nulos del campo `release date` deben eliminarse.

In [18]:
'''
correr esta celda despues de agregar la columna de directores
'''
#data = data.dropna(subset=['release_date'])

'\ncorrer esta celda despues de agregar la columna de directores\n'

In [19]:
data['release_date'].isna().sum()

87

### De haber fechas, deberán tener el formato `AAAA-mm-dd`, además deberán crear la columna `release_year` donde extraerán el año de la fecha de estreno.

In [20]:
data['release_date'][71]

'1995-10-06'

In [21]:
data['release_year'] = np.nan

for i in range(len(data)):
    try:
        data['release_year'][i] = data['release_date'][i][:4]
    except: pass

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\3783501384.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['release_year'][i] = data['release_date'][i][:4]

### Crear la columna con el retorno de inversión, llamada `return` con los campos `revenue` y `budget`, dividiendo estas dos últimas `revenue` / `budget`, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [22]:
type(data['budget'][0])

str

hay datos en budget que no representan ningun numero:

* '/ff9qCepilowshEtG2GYWwzt2bs4.jpg' --> 19730
* '/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg' --> 29503
* '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg' --> 35587

In [23]:
data[data['budget'] == '/zaSf5OG7V8X8gqFvly88zDdRm46.jpg']

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,video,vote_average,vote_count,Genres,pro_comp1,pro_comp2,country,language,release_year
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Beware Of Frost Bites,Avalanche Sharks,22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Odyssey Media, Pulser Productions, Rogue Stat...",NaN,NaN,NaN,NaN,22

In [24]:
data['budget'][19730] = 0
data['budget'][29503] = 0
data['budget'][35587] = 0

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\1725727247.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['budget'][19730] = 0
C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\1725727247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['budget'][29503] = 0
C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\1725727247.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['budget'][35587] = 0

In [25]:
data['budget'] = data['budget'].astype(float)

In [26]:
data['return'] = data['revenue'] / data['budget']

## Eliminar las columnas que no serán utilizadas, `video,imdb_id`,`adult,original_title`,`poster_path` y `homepage`.

In [27]:
columnas = ['video', 'imdb_id', 'adult', 'original_title',
            'poster_path', 'homepage']

data = data.drop(columns=columnas)

In [28]:
data.tail()

,belongs_to_collection,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,Genres,pro_comp1,pro_comp2,country,language,release_year,return
45461,NaN,0.0,439050,fa,Rising and falling between a man and woman.,0.072051,NaN,0.0,90.0,Released,Rising and falling between a man and woman,Subdue,4.0,1.0,"[Drama, Family]",NaN,NaN,Iran,فارسی,NaN,NaN
45462,NaN,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,Century of Birthing,9.0,3.0,[Drama],Sine Olivia,NaN,Philippines,,2011,NaN
45463,NaN,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,Betrayal,3.8,6.0,"[Action, Drama, Thriller]",American World Pictures,NaN,United States of America,English,2003,NaN
45464,NaN,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,Satan Triumphant,0.0,0.0,[],Yermoliev,NaN,Russia,NaN,1917,NaN
45465,NaN,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,Queerama,0.0,0.0,[],NaN,NaN,United Kingdom,English,2017,NaN

In [29]:
#estos dato lo voy a eliminar
data[data['id'] == '1997-08-20']
data[data['id'] == '2012-09-29']
data[data['id'] == '2014-01-01']

,belongs_to_collection,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,Genres,pro_comp1,pro_comp2,country,language,release_year,return
35587,2.185485,0.0,2014-01-01,82.0,Released,Beware Of Frost Bites,22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"[Odyssey Media, Pulser Productions, Rogue Stat...",NaN,NaN,NaN,NaN,22,NaN

In [30]:
data = data.drop(index=19730)
data = data.drop(index=29503)
data = data.drop(index=35587)

Para la ultima funcion de la API se necesitan los datos de los directores de las peliculas, en este paso los sacare del dataset `credits.csv` y los incorporare a `data`

In [31]:
df = pd.read_csv('PI MLOps\credits.csv')

In [32]:
pd.DataFrame(eval(df['crew'][45441]))

,credit_id,department,gender,id,job,name,profile_path
0,5704afecc3a3681f0c000315,Directing,2,1601664,Director,Robert Gardner,/9lLPZMt05AivHCrPo0nPqvvLDg2.jpg

In [33]:
x = pd.DataFrame(eval(df['crew'][4000]))
(x['name'][x['job'] == 'Director'].index)[0]

2

In [34]:
df['director'] = np.nan
for i in range(len(df)):
    try:
        x = pd.json_normalize(eval(df['crew'][i]))
        df['director'][i] = x['name'][x['job'] == 'Director'][(x['name'][x['job'] == 'Director'].index)[0]]
    except:
        continue

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\2407863104.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['director'][i] = x['name'][x['job'] == 'Director'][(x['name'][x['job'] == 'Director'].index)[0]]

ahora con los actores

In [35]:
pd.DataFrame(eval(df['cast'][1000]))['name'][0]

'Sterling Holloway'

Me quedare con los primeros 3 actores de cada pelicula

In [36]:
df['actors'] = np.nan

for i in range(len(df)):
    act = []
    x = pd.DataFrame(eval(df['cast'][i]))
    try:
        for j in range(3):
            act.append(x['name'][j])
        df['actors'][i] = act
    except: continue

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8676\3943663621.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['actors'][i] = act

se separan los directores y luego se hace un merge con el dataframe de movies

In [37]:
data['id'] = data['id'].astype(int)

In [38]:
df

,cast,crew,id,director,actors
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862,John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles]"
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844,Joe Johnston,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]"
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602,Howard Deutch,"[Walter Matthau, Jack Lemmon, Ann-Margret]"
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357,Forest Whitaker,"[Whitney Houston, Angela Bassett, Loretta Devine]"
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862,Charles Shyer,"[Steve Martin, Diane Keaton, Martin Short]"
...,...,...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050,Hamid Nematollah,"[Leila Hatami, Kourosh Tahami, Elham Korda]"
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109,Lav Diaz,"[Angel Aquino, Perry Dizon, Hazel Orencio]"
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758,Mark L. Lester,"[Erika Eleniak, Adam Baldwin, Julie du Page]"
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506,Yakov Protazanov,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa..."
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257,Daisy Asquith,NaN

In [39]:
data = data.merge(df, on='id')

despues de este paso se eliminan los datos con los valores faltantes en `release_date`

In [40]:
data = data.dropna(subset=['release_date'])

In [41]:
data.head(2)

,belongs_to_collection,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,Genres,pro_comp1,pro_comp2,country,language,release_year,return,cast,crew,director,actors
0,Toy Story Collection,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,"[Animation, Comedy, Family]",Pixar Animation Studios,NaN,United States of America,English,1995,12.451801,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter,"[Tom Hanks, Tim Allen, Don Rickles]"
1,NaN,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,"[Adventure, Fantasy, Family]",TriStar Pictures,Teitler Film,United States of America,Français,1995,4.043035,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]"

In [42]:
data = data.drop(columns=['cast', 'crew', ])

# LOAD

In [43]:
data.to_csv('movies_dataset_clean1.1.csv')